h1{
    color: aquamarine;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
color: bisque;
}
body{
    background-color: black;
}